# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

[*.{yml,yaml}]
indent_style = space
indent_size = 2
quote_type = double

[*.json]
indent_style = space
indent_size = 4

[Makefile]
indent_style = tab

[Pipfile.lock]
indent_style = space
indent_size = 4

[.ansible-lint]
indent_style = space
indent_size = 2
quote_type = double

[package.json]
indent_size = 2
