##
## Arch Linux repository mirrorlist
## Generated on 2021-08-23
##

## New Zealand
Server = https://mirror.2degrees.nz/archlinux/$repo/os/$arch
Server = https://mirror.fsmg.org.nz/archlinux/$repo/os/$arch
Server = https://mirror.smith.geek.nz/archlinux/$repo/os/$arch

## Australia
Server = https://mirror.aarnet.edu.au/pub/archlinux/$repo/os/$arch
Server = https://archlinux.mirror.digitalpacific.com.au/$repo/os/$arch
Server = https://mirror.launtel.net.au/repo/arch/$repo/os/$arch
Server = https://arch.lucassymons.net/$repo/os/$arch
Server = https://syd.mirror.rackspace.com/archlinux/$repo/os/$arch
