[Unit]
Description=Keyleds daemon

[Service]
Environment="DISPLAY=:0"
Environment="DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/1000/bus"
ExecStart=/usr/sbin/keyledsd -vv -D
User={{ user.username }}
Group={{ user.groups.primary }}

[Install]
WantedBy=multi-user.target
